@import url("https://fonts.googleapis.com/css?family=Kalam&display=swap");

@font-face {
  font-family: "Press Start 2p";
}

/* --------------------------------------- */
/* BOTONES */

a {
  text-decoration: none;
  color: grey;
}
/*  */
.start-btn {
  text-align: center;
  display: inline-block;
  margin: 5px;
  font-weight: bold;
  padding: 10px;
  background-color: lightgray;
  text-shadow: -1px -1px black, 1px 1px white;
  color: grey;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius: 7px;
  box-shadow: 0 0.2em gray;
  cursor: pointer;
  pointer-events: none; /* para que no se pueda pulsar. Para cambiarlo, poner 'all' o con JS es  */

  /*document.getElementById("boton-return").style.pointerEvents='all';*/
}
.video-game-button:active,
.start-btn:active {
  box-shadow: none;
  position: relative;
  top: 0.2em;
}