body {
  margin: 0;
  background-color: #fff;
}
body:has(#traking) {
  overflow: hidden;
}
#overlay {
  z-index: 5;
  position: absolute;
  width: 100%;
}
#dom-box {
  position: fixed;
  left: 44.5%;
  bottom: 0;
  background-color: blue;
  opacity: 0.7;
  color: white;
  text-align: center;
  padding: 10px;
}
#dom-box button {
  width: auto;
  height: 50px !important;
}
/* #overlay-left {
  left: 0;
  bottom: 0;
  z-index: 5;
  position: absolute;
  width: 100%;
} */
#dom-box-left {
  position: fixed;
  bottom: 0;
  background-color: blue;
  opacity: 0.7;
  color: white;
  text-align: center;
  padding: 10px;
}
#dom-box-left button {
  width: 100px;
  height: 100px;
}

#dom-box-down {
  position: fixed;
  left: 45%;
  bottom: 0;
  background-color: blue;
  opacity: 0.7;
  color: white;
  text-align: center;
  padding: 10px;
}
#dom-box-down button {
  width: 100px;
  height: 100px;
}

#dom-box-right {
  position: fixed;
  right: 0;
  bottom: 50%;
  background-color: blue;
  opacity: 0.7;
  color: white;
  text-align: center;
  padding: 10px;
}
#dom-box-right button {
  width: 100px;
  height: 100px;
}

#dom-box-2 {
  position: fixed;
  bottom: 0;
  background-color: blue;
  opacity: 0.7;
  color: white;
  text-align: center;
  padding: 10px;
}
#dom-box-2 button {
  width: 100px;
  height: 100px;
}

#debug {
  background-color: black;
  color: white;
  text-align: left;
  width: 100%;
}
#dom-box button {
  width: 100px;
  height: 100px;
}
.arjs-loader {
  position: absolute;
  height: 20%;
  width: 50%;
  top: 40%;
  left: 25%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
}
.arjs-loader div {
  text-align: center;
  font-family: arial;
  font-size: 1.25em;
  color: white;
  z-index: 5;
}

#mindar {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

#ARButton {
  margin-bottom: 10%;
  background-color: darkblue !important;
}

.winP {
  opacity: 0.8;
  color: black;
  background-color: rgb(250, 244, 244);

  text-align: center;
  padding: 10px;
  width: 75%;

  /* para centrarlo */
  position: absolute;
  /* top: 50%; */
  margin-top: 10rem;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.top-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 15px;
}

.top-container>.volverBoton {
  pointer-events: all;

}
a{
  text-decoration: none;
}
