@import url('https://fonts.googleapis.com/css?family=Kalam&display=swap');

@font-face {
  font-family: 'Press Start 2p';
}

.winner, .info{
    opacity:0.9;
    color:white;
    text-align: center;
    padding: 10px;
    width: 75%;

    /* para centrarlo */
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);

  }

  /* --------------------------------------- */
  /* WINNER */
  .winner{
  background-color: rebeccapurple;
}

.winner>p{
  font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
  font-size: 1.3rem;
  opacity: 1;
}

.winner a{
  text-decoration: none;
  padding-right: 10px;
}

/* Curiosidades */
#sabiasQue{
  font-style: italic;
  font-size: 15px;
}

#sabiasQueFrase{
  font-size: 12px;
}


/* --------------------------------------- */
/* INFO */
.info{
  color: #292019;
  background-color: #F8BC3C;
}

#barajaImagen{
  width: 50px;
  margin-bottom: 10px;
}

#botonClose{
  pointer-events: all;
}



/* --------------------------------------- */
/* BOTONES */

/*  */
.start-btn{
  text-align: center;
  display: inline-block;
  margin:5px;
  font-weight: bold;
  padding: 10px ;
  background-color: lightgray;
  text-shadow: -1px -1px black, 1px 1px white;
  color: grey;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius: 7px;
  box-shadow: 0 .2em gray; 
  cursor: pointer;
  pointer-events: none;/* para que no se pueda pulsar. Para cambiarlo, poner 'all' o con JS es  */

  /*document.getElementById("boton-return").style.pointerEvents='all';*/
}
.video-game-button:active, .start-btn:active {
  box-shadow: none;
  position: relative;
  top: .2em;
}

/* ------------------------------- */
.top-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 15px;
}

.top-container>.volverBoton {
  pointer-events: all;

}
a{
  text-decoration: none;
}