.top-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 15px;
}

.info {
    opacity:0.8;
    color:black;
    background-color: rgb(250, 244, 244);


    text-align: center;
    padding: 10px;
    width: 75%;

    /* para centrarlo */
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);

}

.centro{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.general {
    display: flex;
    justify-content: space-around;
}

.divExplicacion {
    /* width: 25%; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.divExplicacion>img {
    width: 70%;
}
.divExplicacion>p{
    font-size: 15px;
}


.start-btn{
    pointer-events: all;
}